body {
    font-family: 'Comfortaa';
    text-align: center
}

#header {
  text-decoration: none;
}
.navbar-text {
  color: white;
}

/* @media (min-width:34em) {
  .card-deck > .card
  {
      height: 29%;
      width: 14%;
      flex-wrap: wrap;
      flex: initial; 
  }
} */
table, th, td {
  border: 1px solid black;
}

.card {
  width: 90%;
}

#card {
  width: 50%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

h2 {
  color: white;
  padding: 10px;
  text-align: center;
}
#block1 {
  border-style: solid;
  border-width: 2px;
  margin-bottom: 5%;
}
#block2 {
  border-style: solid;
  border-width: 2px;
  margin-bottom: 5%;
}
#block3 {
  border-style: solid;
  border-width: 2px;
  margin-bottom: 5%;
}
#block4 {
  border-style: solid;
  border-width: 2px;
  margin-bottom: 5%;
}

#blockTitle {
  border-style: solid;
  border-width: 2px;
  border-bottom-width: 0.4px;
  display: block;
  text-align: center;
  padding: 3px
}


/* Toggle button */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* .mh-100 {
    min-height: 100vh;
} */
